In [9]:
import pandas as pd

#importing the building datasets
GQS25= pd.read_csv("../target/GQS/2025_GQS.csv")
GQS24= pd.read_csv("../target/GQS/2024_GQS.csv")
GQS23= pd.read_csv("../target/GQS/2023_GQS.csv")
GQS= pd.concat([GQS25,GQS24,GQS23], axis=0,ignore_index=True)

AS_GAMELOGS= pd.read_csv("../predictive/allstars_gamelogs.csv")
RIVALS= pd.read_csv("../predictive/rivalries.csv")
GAMELOGS= pd.read_csv("../predictive/gamelogs.csv")
SCHEDULE= pd.read_csv("../predictive/schedule_info.csv")

In [8]:
GQS

       GAME_ID TEAM1 TEAM2        DATE       GQS
0     22500326   SAS   ORL  2025-12-03  0.316262
1     22500325   IND   DEN  2025-12-03  0.138732
2     22500322   SAS   MEM  2025-12-02  0.327308
3     22500320   NYK   BOS  2025-12-02  0.355065
4     22500319   TOR   POR  2025-12-02  0.314246
...        ...   ...   ...         ...       ...
3013  22300074   POR   LAC  2023-10-25  0.119326
3014  22300070   CHI   OKC  2023-10-25  0.195242
3015  22300065   BOS   NYK  2023-10-25  0.375413
3016  22300062   GSW   PHX  2023-10-24  0.364522
3017  22300061   LAL   DEN  2023-10-24  0.156331

[3018 rows x 5 columns]